name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install libicu-dev
      run: apt-get update;apt-get install libicu-dev -y

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.102
    
    - name: Restore dependencies
      run: dotnet restore ./aspnet-core
    
    - name: Build
      run: dotnet build ./aspnet-core --no-restore
    
    - name: Test
      run: dotnet test ./aspnet-core --no-build --verbosity normal
