name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    
    - name: Restore dependencies
      run: dotnet restore .\aspnetcore
    
    - name: Build
      run: dotnet build .\aspnetcore --no-restore
    
    - name: Test
      run: dotnet test .\aspnetcore --no-build --verbosity normal
